<section class="about-us" id="about-us">
  <h2 class="heading">About Us</h2>
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="about-image">
                  <%= image_tag('about.png', alt: 'About Us Image', class: 'img-fluid') %>
              </div>
           </div>
           <div class="col-md-6">
              <div class="about-description">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet odio at est semper feugiat.</p>
                   <p>Etiam quis dui consequat, mattis purus in, posuere ipsum. Sed lacinia odio at velit eleifend, et eleifend nisl faucibus. Integer non sem id neque commodo posuere. Proin semper nisl eget efficitur tristique. Fusce vitae venenatis risus, non aliquet ipsum.</p>
              </div>
          </div>
      </div>
    </div>
 
</section>




