<section class="gallery">
    <h2 class="heading">Gallery</h2>
    <div class= "gallery-content">
       <div class= gallery-item>
             <%= image_tag('burger2.jpg', class: 'gallery-image') %>
       </div>
       <div class= gallery-item>
             <%= image_tag('burger2.jpg', class: 'gallery-image') %>
       </div>
        <div class= gallery-item>
             <%= image_tag('burger2.jpg', class: 'gallery-image') %>
       </div>
    </div>
   

</section>
