<div class= "container" style="min-height: calc(100vh - 10px);">
  <h1 class="text-center mt-5"> 
  <strong><em>New Item</em></strong></h1>


  <%= render "form", item: @item %>

 

  <div>
     <%= link_to "Back to items", items_path ,class: "btn btn-secondary mt-2"%>
   </div>
</div>
